@import "../base/global";

header {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100dvb;
  background-color: var(--color-black);
  overflow: hidden;

//  &:after{
//   position: absolute;
//   inset: 0;
//   content: "";
//   background-image: linear-gradient(
//     90deg,
//     $color-black,
//     $color-trans
//   );
//   z-index: 2;
//  }
}

.header {
  &__video {
    position: absolute;
    inset: 50% 0 0 50%;
    inline-size: 100%;
    translate: -50% -50%;
    z-index: 1;

    @include res-max-laptop-s{
      inline-size: auto;
      block-size: 100%;
    }
  }

  &__content {
    @include flex-set(flex, column, wrap, var(--c_gap, 3em), center, center);
        z-index: 3;
        animation: headerTitleAnim .5s ease-in-out forwards, headerBtnAnim .5s ease-in-out .5s forwards;

        @include res-max-tablet{
          inline-size: 100%;
          padding-inline: $gap-l;
        }

        > h1 {
            position: relative;
            display: inline-block;
            opacity: var(--c-item-title_opacity);
            font-family: $font-title;
            font-size: clamp($gap-xxl, 15em, 25dvb);
            font-weight: 900;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: .1em;
            color: var(--color-white);
            opacity: var(--header-title_opacity, 0);
            text-shadow: var(--color-black) 0 0 1.5rem;
            translate: 0 var(--header-title_translate-y, 1rem);
            transition: opacity 1s var(--trans-fnc), translate 1s var(--trans-fnc);

            @include res-max-laptop-s {
                font-size: clamp($gap-xxl, 5em, 10dvb);
            } 

            @include res-max-tablet {
              font-size: clamp($gap-xl, 5em, 10dvb);
          } 
        }

        > .button{
          opacity: var(--header-btn_opacity, 0);
          translate: 0 var(--btn_trans-y, -1rem);
          transition: opacity .5s var(--trans-fnc), translate .5s var(--trans-fnc), box-shadow var(--trans-time) var(--trans-fnc);
        }
  }
}

@keyframes headerTitleAnim{
  from{
    --header-title_opacity: 0;
    --header-title_translate-y: 1rem;
  }
  to{
    --header-title_opacity: 1;
    --header-title_translate-y: 0;
  }
}

@keyframes headerBtnAnim {
  from{
    --header-btn_opacity: 0;
    --btn_trans-y: -1rem;
  }
  to{
    --header-btn_opacity: 1;
    --btn_trans-y: 0;
  }
}