@import "../base/global";


section:has(> .showcase){
  background-color: black;

}
.showcase{
    display: grid;
    grid-template-columns: minmax(1rem, 8fr) minmax(1rem, 5fr);
    inline-size: max(calc(100svi - 4rem), 100px);
    align-items: center;
    margin-inline: auto;
    background-color: inherit;
    color: $color-white;
    max-inline-size: $width-laptop-xl;
    
    &__img{
      position: relative;
      display: grid;
      place-items: center;
      inline-size: 100%;
      aspect-ratio: 1440 / 1143;
      
      >img{
        display: block;
        position: absolute;
        opacity: var(--img_opacity, 0);
        transition: box-shadow .25s ease-in-out, opacity .25s ease-in-out;
        box-shadow: 0 0 2rem .5rem var(--img_shadow-color, transparent);
        max-inline-size: 100%;
      
        &:is(.active){
          --img_opacity: 1;
        }
      }
    }
    
    &__content{
      padding-inline-end: 3.5svi;
      > h2{
        font-size: 6svb;
        text-wrap: pretty;
        line-height: 1.25;
        font-weight: 900;
        margin-block-end: 1.5svb;

        > span{
          display: block;
          font-size: 1.35em;
          letter-spacing: .1em;
          font-weight: inherit;
          text-transform: uppercase;
        }
      }
      
      > p{
        font-size: max(1.6rem,min(3dvb,2.4rem));
        line-height: 1.7;
        text-wrap: pretty;
        margin-block-end: 7svb;
      }
    }
    
    &__buttons{
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      gap: $gap-l;

       > .button{
        flex-flow: column wrap;
       }
    }
  }